<div class="max-w-xl mx-auto">
      <h3 class="mx-auto text-center font-bold text-2xl mb-5">sign In</h3>
      <form action="/admin" method="POST">
            <div class="mb-4">
                  <label for="username" class="block text-gray-700 dark:text-gray-300 text-sm font-semibold mb-2">User
                        Name</label>
                  <input type="text" name="username" placeholder="Enter username" id="username"
                        class="form-input w-full px-4 py-2 border rounded-lg dark:bg-gray-900 dark:border-gray-900 text-gray-700 dark:text-gray-300 focus:ring-blue-500" />
            </div>
            <div class="mb-4">
                  <label for="password"
                        class="block text-gray-700 dark:text-gray-300 text-sm font-semibold mb-2">Password</label>
                  <input type="text" name="password" placeholder="Enter password" id="username"
                        class="form-input w-full px-4 py-2 border rounded-lg dark:bg-gray-900 dark:border-gray-900 text-gray-700 dark:text-gray-300 focus:ring-blue-500" />
            </div>
            <input type="submit" value="Login"
                  class="bg-blue-500 dark:bg-blue-800 cursor-pointer text-white px-4 py-2 rounded-lg dark:hover:bg-blue-900 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
      </form>
</div>

<!-- <div class="max-w-xl mx-auto">
      <h3 class="mx-auto text-center font-bold text-2xl mb-5">Register</h3>
      <form action="/register" method="POST">
            <div class="mb-4">
                  <label for="username" class="block text-gray-700 text-sm font-semibold mb-2">User Name</label>
                  <input type="text" name="username" placeholder="Enter username" id="username"
                        class="form-input w-full px-4 py-2 border rounded-lg text-gray-700 focus:ring-blue-500" />
            </div>
            <div class="mb-4">
                  <label for="password" class="block text-gray-700 text-sm font-semibold mb-2">Password</label>
                  <input type="text" name="password" placeholder="Enter password" id="password"
                        class="form-input w-full px-4 py-2 border rounded-lg text-gray-700 focus:ring-blue-500" />
            </div>
            <input type="submit" value="Register"
                  class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
      </form>
</div> -->