<div class="searchBar">


      <div class="container">
            <form action="/search" method="POST" class="search_form" role="search">
                  <input type="text" aria-label="search" id="searchInput" name="searchTerm"
                        placeholder="search the site..." />

            </form>
            <button>close</button>
      </div>


</div>