<!DOCTYPE html>
<html lang="en" class="dark">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Dashboard</title>
      <script src="https://cdn.tailwindcss.com"></script>
      <link rel="stylesheet" href="/css/index.css">
</head>

<body class="min-h-screen">
      <div class="main min-h-screen flex flex-col">
            <%- include("../common/header_admin.ejs") %>
                  <div class="grow md:mx-12 mt-5">
                        <%- body %>
                  </div>
                  <%- include("../common/footer.ejs") %>
      </div>
</body>

</html>