<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="min-h-screen">
  <div class="main min-h-screen flex flex-col">
    <%- include("../common/header.ejs") %>
      <div class="grow md:mx-12 mt-5">
        <%- body %>
      </div>
      <%- include("../common/footer.ejs") %>
  </div>
</body>

</html>