<section class="text-gray-600 body-font">
      <div class="container px-5 py-24 mx-auto">
            <h1 class="sm:text-3xl text-2xl font-medium title-font text-center text-gray-900 mb-20">Raw Denim Heirloom
                  Man Braid
                  <br class="hidden sm:block">Selfies Wayfarers
            </h1>
            <ul>
                  <div class="grow md:mx-12 mt-5">
                        <% data.forEach(post=> { %>
                              <a href="/post/<%= post._id%>">
                                    <li class="flex justify-between mb-5">
                                          <h2>
                                                <%= post.title %>
                                          </h2>
                                          <div class="time">
                                                <%= post.createdAt.toDateString() %>
                                          </div>
                                    </li>
                              </a>
                              <% }); %>
                  </div>
            </ul>
            <% if (nextPage !==null) { %>
                  <a href="/?page=<%- nextPage %>" class="pagination">&lt; view older posts</a>

                  <% } %>
      </div>
</section>