<div class="post mt-4">
      <h1 class="block mx-auto text-2xl mb-4 dark:text-gray-200">
            <%= data.title %>
      </h1>
      <article class="article dark:text-gray-300">
            <%= data.body %>
      </article>
</div>